.bg-lighter-blue{
    background-color: #B6E9FF;
}
.bg-color-light-blue{
    background-color: #E9FCFF;
}
.bg-light-blue{
    background-color: #D9FAFF;
}
.box-shadow{
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.border-radius{
    border-radius: 5px;
}
.cursor-pointer{
    cursor: pointer;
}
